body{
	font-family: 'Helvetica Neue',Arial,Sans-serif;
    font-size: 12px;
    font-weight: normal;
}


#pagecover {
	  background: url("images/spinner.gif") no-repeat scroll center center #FFF;
    position: absolute;
    height: 100%;
    width: 100%;
}

#content {
	display: none;
}

.message {
	position: absolute;
}

#datafield {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 300px;
}

#userbox {
position: fixed;
	bottom: 0px;
	left: 320px;
}

#users {
	display: inline;
}

#controls {
	margin: -20px 0 0 -15px;
	background-color: lightgrey;
}
#deletebutton {
	display: block;
	padding: 5px;
}

#likebutton {
	display: block;
	padding: 5px;
}